
p {
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7rem;
}

body {     
    background-color: hsl(30, 38%, 92%);
}

button {
    background-color:  hsl(158, 36%, 37%);
    color: white;
    border: 2px solid transparent ;
    font-weight: bold;
    border-radius: 1ch; 
    display: flex;
    align-items: center;
    padding: 10px 120px;
    border: 1px solid transparent;      
}

.container {
    width: 375px;
    background-color: white;  
    display: flex;
    flex-direction: column;
    border-radius: 2ch;
     
}

.container__perfume {
    color: hsl(228, 12%, 48%); 
    font-family: 'Montserrat', sans-serif; 
    font-weight: 500;
    letter-spacing: 5px;
}


.container__name {
    color: hsl(212, 21%, 14%); 
    font-family: 'Fraunces', serif; 
    font-weight: 700;
}


.container__price { 
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif; 
    font-weight: 700;
}

.container__row {
    display: flex;
}

.container__strike {
    align-self: center;
    color: hsl(228, 12%, 48%);
    margin-left: 25px;
}

.container__img {
    border-top-left-radius: 2ch;
    border-top-right-radius: 2ch ;    
}

.container__button {
    display: flex;
    max-width: 375px;
    height: 50px;

}

.container__elements {
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;

}